**Problem 1**
In a cricket tournament, based on the outcome of a particular match a team gets following points:
*   wins gets 3 points
*   draws gets 1 points
*   losses gets 0 points

Team Aravali plays 8 matches in this tournament. It wins 4 matches, loses 3 matches and draws 1. What is the total number of points gained by the Team Aravali?

In [2]:
# The outcome variables are defined below
wins = 4
losses = 3
draws = 1

In [3]:
# Calculate the total points gained by Team Aravali
aravali_points = wins*3+losses*0+draws*1

In [4]:
# Print the variable aravali_points
print(aravali_points)

13

**Problem 2**

*   Root of a function  f(x)  is defined as the value  x  where  f(x)=0
*   Consider a quadratic function  f(x)=x2+3x−4 

Find the value of the function  f(x)  at points  x=2,x=−1,x=1 .

In [5]:
# Calculate the value of the function f(x) at x = 2
x=2
func_evaluated_at_2 = x**2+3*x-4

In [6]:
# Print the value below
print(func_evaluated_at_2)

6

In [15]:
# Calculate the value of the function f(x) at x = -1
x=-1
func_evaluated_at_minus1 = x**2+3*x-4

In [16]:
# Print the value below
print(func_evaluated_at_minus1)

-6

In [17]:
# Calculate the value of the function f(x) at x = 1
x=1
func_evaluated_at_1 = x**2+3*x-4

In [18]:
# Print the value below
print(func_evaluated_at_1)

0

### Return the boolean for each value of $x$ to find out whether that value is a root of $f(x)$

In [26]:
# Check whether 2 is a root of f(x)
func_evaluated_at_2 == 2*(1/2)

False

In [27]:
# Check whether -1 is a root of f(x)
import math
func_evaluated_at_minus1 == -1*(1/2)

False

In [28]:
# Check whether 1 is a root of f(x)
func_evaluated_at_1 == 1*(1/2)

False

## <u> Problem 3 </u>

A bag contains <code>45</code> apples, <code>65</code> oranges and <code>30</code> bananas. Find the percentage of each type of food items in the bag.

In [29]:
apple, oranges, bananas = 45, 65, 30
total = apple + oranges + bananas

In [31]:
# Calculate the percentage of apples and print the variable
apple_percent = apple/total * 100
print(apple_percent)

32.142857142857146

In [32]:
# Calculate the percentage of oranges and print the variable
oranges_percent = oranges/total * 100
print(oranges_percent)

46.42857142857143

In [33]:
# Calculate the percentage of bananas and print the variable
bananas_percent = oranges/total * 100
print(bananas_percent)

46.42857142857143

## <u>Problem 4</u>

You were playing a fun guessing game during your school break. There were a total of 100 participants excluding you. Out of these 100 people, 30 were Maths Majors, 45 were Economics Majors and 25 were Physics Majors.

The game was divided into three rounds.

* In the first round, you had to guess the number of Maths Majors and you <b>correctly</b> guessed 20 of them.
* In the second round, you had to guess the number of Economics Majors and you <b>correctly</b> guessed 30 of them.
* In the final third round, you had to guess the number of Physics Majors and you <b>correctly</b> guessed 20 of them.

### Accuracy is defined as the number of correct guesses upon total number of people in the group (expressed in percentage)

In [35]:
# Store the number of Maths majors
maths = 30

# Store the number of Economics majors
economics = 45

# Store the number of Physics majors
physics = 25

# Store the number of your correct guesses of Maths majors
maths_correct = 20

# Store the number of your correct guesses of Economics majors
economics_correct = 30

# Store the number of your correct guesses of Physics majors
physics_correct = 20

In [36]:
# Print the Maths accuracy
maths_acc = maths_correct/maths * 100
print(maths_acc)

66.66666666666666

In [37]:
# Print the Economics accuracy
economics_acc = economics_correct/economics * 100
print(economics_acc)

66.66666666666666

In [38]:
# Print the Physics accuracy
physics_acc = physics_correct/physics * 100
print(physics)

25

In [44]:
# Print the overall accuracy
overall_accuracy =  maths_correct+economics_correct+physics_correct/(maths+economics+physics)* 100
print(overall_accuracy)

70.0